@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow: hidden;
    font-family: 'Aleo', serif;
    touch-action: none;
}

.container-bg-gradient {
    background: linear-gradient(180deg, #48352F 3.09%, rgba(72, 53, 47, 0.6) 100%);
}

.flower-pattern {
    background: url('/images/flower-pattern.png');
    mix-blend-mode: multiply;
    background-repeat: repeat;
    opacity: 0.6;
}